<div class="screen">
    <nav class="menu-artists">
        <div class="item-artist" id="artist-1"></div>
        <div class="item-artist" id="artist-2"></div>
        <div class="item-artist" id="artist-3"></div>
        <div class="item-artist" id="artist-4"></div>
        <div class="item-artist" id="artist-5"></div>
        <div class="item-artist" id="artist-6"></div>
        <div class="item-artist" id="artist-7"></div>
        <div class="item-artist" id="artist-8"></div>
        <div class="item-artist" id="artist-9"></div>
        <div class="item-artist" id="artist-10"></div>
    </nav>
</div>