<div class="screen">
    <nav class="menu-playlists">
        <div class="item-playlist" id="playlist-1"></div>
        <div class="item-playlist" id="playlist-2"></div>
        <div class="item-playlist" id="playlist-3"></div>
        <div class="item-playlist" id="playlist-4"></div>
        <div class="item-playlist" id="playlist-5"></div>
        <div class="item-playlist" id="playlist-6"></div>
        <div class="item-playlist" id="playlist-7"></div>
        <div class="item-playlist" id="playlist-8"></div>
        <div class="item-playlist" id="playlist-9"></div>
        <div class="item-playlist" id="playlist-10"></div>
    </nav>
</div>