<div class="screen">
    <div class="menu-albums">
        <div class="item-album" id="album-1">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-2">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-3">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-4">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-5">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-6">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-7">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-8">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
        <div class="item-album" id="album-9">
            <picture class="album-cover"><img src="" alt="album cover"></picture>
            <h2 class="album-name">album name</h2>
            <div class="album-songs_num">0 songs</div>
        </div>
    </div>
</div>