<div class="screen">
    <nav class="menu-playlists">
        <div class="item-playlist" id="playlist-1">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-2">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-3">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-4">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-5">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-6">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-7">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-8">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
        <div class="item-playlist" id="playlist-9">
            <picture class="playlist-miniature"><img src="" alt="playlist miniature"></picture>
            <h2 class="playlist-name">playlist Name</h2>
            <div class="playlistt-num_songs">0 songs</div>
        </div>
    </nav>
</div>