<div class="screen">
    <div class="menu menu-songs">
        <div class="item-song" id="song-1">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-2">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-3">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-4">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-5">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-6">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-7">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-8">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
        <div class="item-song" id="song-9">
            <picture class="song-cover"><img src="" alt="song-cover"></picture>
            <h2 class="song-name">Song Name</h2>
            <p class="song-artist">song artist</p>
            <div class="song-duration">0:00</div>
        </div>
    </div>
</div>

<script src="ipod-ui.js"></script>
