<div class="screen">
    <nav class="menu-artists">
        <div class="item-artist" id="artist-1">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-2">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-3">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-4">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-5">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-6">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-7">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-8">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
        <div class="item-artist" id="artist-9">
            <picture class="artist-pic"><img src="" alt="artist picture"></picture>
            <h2 class="artist-name">artist name</h2>
            <div class="artist-songs"> 0 songs</div>
        </div>
    </nav>
</div>